
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import '~bootstrap/scss/bootstrap';
.star{
    font-size: 30px;
}
.star #countstars{
    font-size: 20px;
}
.our-team-main
{
    width:100%;
    height:auto;
    border-bottom:5px #007b5e solid;
    background:#fff;
    text-align:center;
    border-radius:10px;
    overflow:hidden;
    position:relative;
    margin-bottom:28px;
}
.our-team-main img
{
    border-radius:50%;
    margin-bottom:20px;
    width: 90px;

}
.our-cabs-main
{
    width:100%; 
    height:auto;
    border-bottom:5px #007b5e solid;
    background:#fff;
    text-align:center;
    border-radius:10px;
    overflow:hidden;
    position:relative;
    margin-bottom:28px;
}
.our-cabs-main img
{

    margin-bottom:20px;
    height: 150px;

}
.our-team-main h3
{
    font-size:20px;
    font-weight:700;
}
.our-cabs-main h3
{
    font-size:20px;
    font-weight:700;
}
.our-team-main p
{
    margin-bottom:0;
}
.our-cabs-main p
{
    margin-bottom:0;
}
.team-front
{
    width:100%;
    height:auto;
    position:relative;
    z-index:10;
    background:#fff;
    padding:15px;
    bottom:0px;
}

div.cardflow {
     width: 100%;
     height: 90px;
     overflow: auto;
 }
div.cabsflow {
    width: 100%;
    height: 50px;
    overflow: auto;
}
div.cardmedicflow {
    width: 100%;
    height: 100%;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 48, 48); 
}
section{
    padding: 60px 0;
}
section .section-title{
    text-align:center;
    color:#007b5e;
    margin-bottom:50px;
    text-transform:uppercase;
}
//Acest CSS este preluat dintr-o alta sursa si adaptat pentru ce avem nevoie
    #what-we-do{
        background:#ffffff;
    }
    #what-we-do .card{
        padding: 1rem!important;
        border: none;
        margin-bottom:1rem;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }
    #what-we-do .card:hover{
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }
    #what-we-do .card .card-block{
        padding-left: 50px;
        position: relative;
    }
    #what-we-do .card .card-block a{
        color: #007b5e !important;
        font-weight:700;
        text-decoration:none;
    }
    #what-we-do .card .card-block a i{
        display:none;

    }
    #what-we-do .card:hover .card-block a i{
        display:inline-block;
        font-weight:700;

    }
    #what-we-do .card .card-block:before{
        font-family: FontAwesome;
        position: absolute;
        font-size: 39px;
        color: #007b5e;
        left: 0;
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition:transform .2s ease-in-out;
    }
    #what-we-do .card .block-1:before{
        content: "\f0fa";
    }
    #what-we-do .card .block-2:before{
        content: "\f0f0";
    }
    #what-we-do .card .block-3:before{
        content: "\f0f1";
    }
    #what-we-do .card .block-4:before{
        content: "\f0f8";
    }
    #what-we-do .card .block-5:before{
        content: "\f0a1";
    }
    #what-we-do .card .block-6:before{
        content: "\f218";
    }
    #what-we-do .card:hover .card-block:before{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }
//Acest CSS este preluat dintr-o alta sursa si adaptat pentru ce avem nevoie
#myFooter {
    background-color: #182c39;
    color: white;
    padding-top: 20px;
}
#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
#myFooter .row {
    margin: 0 85px;
}
#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}
#myFooter .container {
    width: auto;
}
@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}
#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}